/* Segoe UI font */
@font-face
{   font-family: segoe-light;
    src: url(../assets/segoe-light.woff);
}

/* Universal styles */
*
{   color: white;
    font-family: segoe-light, "Microsoft YaHei";
    font-weight: 200;
}

/* Width */
html, body
{   width: 100%;
    height: 100%;
}

/* Body */
body
{   margin: 0;
    background-color: black;
    overflow: hidden;
}

/* Main component */
#wx-wall
{   width: 100%;
    height: 100%;
    border-spacing: 1rem;
}

/* Loading text */
#wx-wall-loading
{   width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
}

/* Animation: force zero width */
.wx-wall-force-zero-width
{   width: 0 !important;
}

/* Animation: force zero height */
.wx-wall-force-zero-height
{   height: 0 !important;
}

/* Marquee animation */
.marquee
{   animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    -o-animation: marquee 10s linear infinite;
    white-space: nowrap;
}

@keyframes marquee
{   0%
    {   transform: translate(100%, 0);
    }
    100%
    {   transform: translate(-100%, 0);
    }
}

@-webkit-keyframes marquee
{   0%
    {   -webkit-transform: translate(100%, 0);
    }
    100%
    {   -webkit-transform: translate(-100%, 0);
    }
}

@-o-keyframes marquee
{   0%
    {   -o-transform: translate(100%, 0);
    }
    100%
    {   -o-transform: translate(-100%, 0);
    }
}
