/* Message component */
:host
{   display: block;
    width: 100%;
    padding: 1.5vh 1vw;
    margin: 1vh 0;
    height: 15.5vh;
    overflow: hidden;
}

/* Head image */
img
{   width: 15.5vh;
}

/* Message region */
.wx-wall-msg-region
{   display: inline-block;
    vertical-align: top;
    padding-left: 1vw;
    width: calc(100% - 3vw - 15.5vh);
}

/* Message nick name */
.wx-wall-msg-nickname
{   font-size: 3.5vh;
}

/* Message content */
.wx-wall-msg-text-1
{   position: relative;
    width: 100%;
}

.wx-wall-msg-text-2
{   position: absolute;
    left: 0;
    right: 0;
    font-size: 7vh;
    line-height: 9.2vh;
    overflow: hidden;
}
