/* Notice */
#wx-wall-header
{   font-size: 5vh;
}

/* Main area */
#wx-wall-main
{   height: 100%;
    vertical-align: top;
}

/* Messages */
#wx-wall-msgs
{   width: 100%;
}

/* Footer */
#wx-wall-footer
{   font-size: 2vh;
}

/* Admin message region */
.wx-wall-admin-msg
{   height: 100%;
    padding-left: 1rem;
    padding-top: 1vh;
    width: 18rem;
}

/* Admin message image */
.wx-wall-admin-msg img
{   background-color: white;
    width: 100%;
}

/* Admin content region */
.wx-wall-admin-msg .wx-wall-admin-region
{   position: relative;
    padding: 1.5vh;
    background-color: brown;
    height: calc(100% - 18rem - 6vh);
    margin-top: 1.5vh;
    overflow: hidden;
}

/* Admin title */
.wx-wall-admin-msg .wx-wall-admin-title
{   font-size: 3.5vh;
}

/* Admin message content */
.wx-wall-admin-msg .wx-wall-admin-content
{   position: absolute;
    font-size: 6vh;
    word-break: break-all;
}
