<img src="{{_msg.headimgurl}}" />
<div class="wx-wall-msg-region">
    <span class="wx-wall-msg-nickname">{{_msg.nickname}}</span>
    <div class="wx-wall-msg-text-1">
        <div class="wx-wall-msg-text-2">
            <div class="marquee">{{_msg.content}}</div>
        </div>
    </div>
</div>
