<!-- Top banner -->
<tr id="wx-wall-header">
    <td colspan="2">
        <div class="marquee">{{notice}}</div>
    </td>
</tr>
<tr id="wx-wall-main">
    <!-- Messages -->
    <td id="wx-wall-msgs">
        <wx-wall-msg *ngFor="let msg of msgs" [msg]="msg" msgTransition="height" [msgShow]="msg.animationState"></wx-wall-msg>
    </td>
    <!-- Admin message -->
    <td>
        <div class="wx-wall-admin-msg" msgTransition="width" [msgShow]="adminState">
            <img src="assets/admin.png" />
            <div class="wx-wall-admin-region">
                <span class="wx-wall-admin-title">Admin</span>
                <div class="wx-wall-admin-content">{{adminMsg?.content}}</div>
            </div>
        </div>
    </td>
</tr>
<!-- About -->
<tr id="wx-wall-footer">
    <td colspan="2">
        <hr />
        &copy; Qifan Lu 2016. All right reserved. Published under ISC license.
    </td>
</tr>
